* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  background: black;
}

/* Normal css follows */
h1 {
  color: rgb(76, 89, 170);
  text-align: center;
  font-size: 16px;
  margin-top: 64px;
}

p {
  color: white;
}

label {
  color: white;
}

.button {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}
